
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

body{
    font-family: 'Nunito', sans-serif ;
}


#wrongMessage, #wrongPassword{
    display: none;
}


.deposit-text{
    color: #0D6EFD;
}
.bank-box{
    transition: all 0.3s ;
    cursor: pointer;
}
.bank-box:hover .deposit-text{
    color: white;
}
.bank-box:hover{
    background: #0D6EFD;
    color: white;
}

.withdraw-text{
    color: #DC3545;
}
.bank-box-2{
    transition: all 0.3s ;
    cursor: pointer;
}
.bank-box-2:hover .withdraw-text{
    color: white;
}
.bank-box-2:hover{
    background: #DC3545;
    color: white;
}

.balance-text{
    color: #198754;
}
.bank-box-3{
    transition: all 0.3s ;
    cursor: pointer;
}
.bank-box-3:hover .balance-text{
    color: white;
}
.bank-box-3:hover{
    background: #198754;
    color: white;
}

#depositErrorMsg{
    display: none;
    color: red;
}
#withdrawErrorMsg{
    display: none;
    color: red;
}
#totalWithdrawActivity{
    color: red;
}






/* For mobile:  */
@media only screen and (max-width:767px){
    .header-text{
        font-size: 18px;
    }
}
